*{
    padding: 0px;
    margin: 0px;
}

body{
    font-size: 12px;
    font-family: "微软雅黑";
    background-color: #580000;
    background: url(../img/bg.jpg);
}
.BG{ margin:0 auto; width: 1003px;}

ul li{float:left;}
input,a{outline:none;}
.BG-BOX{ text-align: center; margin: 0 auto;}
.TIT{margin: 75px 0 0 7px;}
.SLOT{margin-left: 96px;}
.FROM{margin-top: 10px; margin-bottom: 10px;}
.FROM label{font-size: 18px;color: #fff;padding: 0 12px;}
.INP-1{width: 226px; height: 35px;Border-radius: 8px;padding: 0 10px;font-size: 14px;}
.lab1{font-size: 18px;color: #fff;padding: 0 21px;}
.INP-2{width: 86px; height: 35px;Border-radius: 8px;padding: 0 10px;font-size: 14px;}
.INP-3{width: 130px; margin-left: 9px;border: 0; height: 0px; line-height: 0px;padding: 17px 21px 21px 21px; background: url(../img/yz-btn.png) no-repeat;color: #fff;font-size: 16px;}
.INP-4{width: 226px; height: 35px;Border-radius: 8px;padding: 0 10px;font-size: 14px;}
.INP-5{width: 226px; height: 35px;Border-radius: 8px;padding: 0 10px;font-size: 14px;}